# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/
package.json
.gitignore
package.json
.yalc/application-design-system/storybook/stories/Text.stories.js
.yalc/application-design-system/storybook/stories/index.js
.yalc/application-design-system/storybook/rn-addons.js
.yalc/application-design-system/storybook/index.js
.yalc/application-design-system/storybook/addons.js
.yalc/application-design-system/src/atoms/Text/Text.type.ts
.yalc/application-design-system/src/atoms/Text/Text.tsx
.yalc/application-design-system/src/atoms/Text/index.ts
.yalc/application-design-system/src/atoms/Checkbox/style.ts
.yalc/application-design-system/src/atoms/Checkbox/index.ts
.yalc/application-design-system/src/atoms/Checkbox/Checkbox.type.ts
.yalc/application-design-system/src/atoms/Checkbox/Checkbox.tsx
.yalc/application-design-system/src/atoms/Button/style.ts
.yalc/application-design-system/src/atoms/Button/index.ts
.yalc/application-design-system/src/atoms/Button/Button.type.ts
.yalc/application-design-system/src/atoms/Button/Button.tsx
.yalc/application-design-system/src/atoms/index.ts
.yalc/application-design-system/src/index.ts
.yalc/application-design-system/yalc.sig
.yalc/application-design-system/yalc.lock
.yalc/application-design-system/tsconfig.json
.yalc/application-design-system/metro.config.js
.yalc/application-design-system/bebel.config.js
.gitignore
.yalc/application-design-system/.prettierrc.js
yalc.lock
.yalc/application-design-system/babel.js
package.json

